# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: github-actions-cicd-runner

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
    - name: setup Node.js
      uses: actions/setup-node@v6
      with:
        node-version: '23'
        cache: 'npm'
        
    # - run: npm ci
    # - run: npm run build --if-present
    # - run: npm test
